{% extends 'base.html' %}

{% block title %} Choose Story {% endblock %}

{% block content %}

<h1 class="pt-4 mb-3 text-center">Madlibs!</h1>

<form action="/prompts" class="pb-4">

  <div class="mb-3 row">
    <label class="col-5 col-form-label text-end" for="story-select">Choose a story!</label>
      <select name="story" required id="story-select">
        {% for story in stories%}
        <option value={{story}}>{{story[name]}}</option>
        {% endfor %}
      </select>
  </div>
  <button class="btn btn-primary btn-lg w-100">
    Give me the prompts!
  </button>
</form>

{% endblock %}
